* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monterrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.pad {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: #0c2340;
}
/* wrong stupid r-btn */
/* all i had to do was put the a.  */
a.stupid-btn {
  padding: 5px 20px;
  background: #f15a22;
  color: #fff;
}

/* preloader */
.loading {
  position: fixed;
  z-index: 999999;
  background: #000;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader::before,
.loader::after {
  content: "";
  border: 1em solid #f15a22;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Navigation */

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5 all;
}
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: #0c2340 !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rbga(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #f15a22;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #f15a22 !important;
}

/* here works the brand but not the links if i copy it ???
.navbar.stickyadd a:hover {
  color: white;
} */

.navbar a:hover {
  color: #f15a22;
}

/* this  is for the nav tags in home screen but not on the sticky */
/* .navbar .navbar-nav li a:hover {
  color: #0c2340;
} */

/* fix problem, remember its was nav-item */
.nav-item a:after {
  content: "";
  background-color: #f15a22;
  height: 3px;
  width: 0;
  margin: auto;
  display: block;
}
.nav-item a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

/* this is for the brand underline */

.r-nav a:after {
  content: "";
  background-color: #f15a22;
  height: 3px;
  width: 0;
  margin: auto;
  display: block;
}
.r-nav a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

.navbar .hamburger {
  color: #fff;
}

nav.stickyadd .hamburger {
  color: #f15a22;
}

/* header Section */

header {
  height: 100vh;
  width: 100%;

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/selfie.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.back-video {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: #f15a22 10px solid;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: white;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: #000;
  background: #f15a22;
  transition: 0.5 all;
}

.content-box p {
  color: white;
}

/* About us */

.about li a {
  color: #0c2340;
  display: line-block;
  height: 42px;
  width: 42px;
  font-size: 30px;
  border: 3px solid #0c2340;
  border-radius: 70%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  border: 5px solid #f15a22;
  color: #f15a22;
}
.about p {
  color: #000;
}

/* exp section */
.exp-class {
  margin-bottom: 80px;
}

.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #0c2340;
}
.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* service */

.services-class h2 {
  color: white;
}
.card {
  margin: 10px;
}
.card-body {
  width: 100%;
  height: 100%;
}

.card .card-header {
  background: white;
}
.card-header {
  border: none;
}
.card-text {
  color: #000;
}

.services-class .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 30px;
  margin: 15px auto;
  background: #f15a22;
}
.jq-img {
  width: 50px;
  height: 50px;
}

/* hire me */

/* Testimony */
.testimony-class h2 {
  color: white;
}

.testimony-class .test-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimony-class .test-item i {
  color: white;
}

.test-item p.test-name {
  font-size: 11px;
}

/* work */
button.blue-btn {
  padding: 5px 20px;
  background: #0c2340;
  color: white;
}

button.orange-btn {
  padding: 5px 20px;
  background: #f15a22;
  color: white;
}

.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
.img-fluid {
  margin-top: 5%;
  width: 300px;
  border-radius: 25%;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
}

/* Contact us */

.contact .r-icon {
  font-size: 50px;
  text-align: center;
}
.contact p {
  color: #000;
}

/* footer */

footer {
  height: 200px;
  background-color: #0c2340;
  border-top: #f15a22 10px solid;
}
footer .r-icon a {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 5px solid #f15a22;
  color: #f15a22;
  transition: 0.5 all;
}
