* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monterrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.pad {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: #f8f9f8;
}
/* wrong stupid r-btn */
/* all i had to do was put the a.  */
a.stupid-btn {
  padding: 5px 20px;
  background: #ee8683;
  color: white;
}

/* preloader */
.loading {
  position: fixed;
  z-index: 999999;
  background: #000;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader::before,
.loader::after {
  content: "";
  border: 1em solid #ee8683;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Navigation */

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5 all;
}
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rbga(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: #fff;
}

nav.stickyadd .hamburger {
  color: fff;
}

nav.stickyadd .hamburger {
  color: black;
}

/* header Section */

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/selfie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5 all;
}

.content-box p {
  color: white;
}

/* About us */

.about li a {
  color: #000;
  display: line-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: blue;
}

/* exp section */
.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-bar {
  background-color: #ee8683;
}
.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* service */
.card .card-header {
  background: #f8f9fa;
}
.card-header {
  border: none;
}

.services-class .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/* Testimony */

.testimony-class .test-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimony-class .test-item i {
  color: gray;
}

.test-item p.test-name {
  font-size: 11px;
}

/* work */

button.pink-btn {
  padding: 5px 20px;
  background: #ee8683;
  color: white;
}

.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Contact us */

.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/* footer */

footer {
  height: 200px;
  background-color: #3333;
}
footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5 all;
}

/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */
